.search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search-bar {
  width: 100%;
  max-width: 75vw;
  min-height: 30px;
  margin: 15px;
  padding: 15px;
  background-color: #c4bbb8;
}

.search-type-selector {
  width: 100%;
  max-width: 60vw;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: medium;
}

.search-type-selector li {
  margin: 15px;
}

.pokemons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pokemons a {
  text-decoration: none;
  color: inherit;
}

.pokemon-container {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  background-color: #ffffff;
  margin: 15px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pokemon-image {
  min-width: 150px;
  width: 15vw;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 20px;
}

.pokemon-popup {
  width: fit-content;
  max-width: 40%;
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  background-color: #ffffff;
  padding: 20px;
}

.selected {
  background-color: yellow;
}

form {
  background-color: #efefef;
  padding: 50px;
  margin: auto;
  display: flex;
  max-width: 40%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

span {
  font-size: 24px;
  font-weight: bold;
  display: block;
  text-align: center;
  margin-bottom: 20px;
}

input[type="text"],
input[type="password"] {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}

input[type="text"]:focus,
input[type="password"]:focus {
  outline: none;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.3);
}

button[type="submit"] {
  background-color: #526760;
  width: 60%;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

button[type="submit"]:hover {
  background-color: #374b4a;
}
